.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.banner {
    background-color: #4d00ff;
    color: white;
    margin-top: 50px;
    text-align: center;
    padding: 100px 0px;
}

.bin_section {
    padding: 20px 50px;
}

.avatar {
    background-image: url('../images/Wheelie_Bin.jpg');
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#bin1 {
    height: 100px;
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
    border:1px black;
}

#bin2 { 
    color: #4d00ff;
    font-size: 100px;
}

#greets ul {
    list-style-type: none;
}

.bold {
    font-weight: 900;
}

a.blue {
    color: blue;
}