a {
    color: #2176FF;
    cursor: pointer;
    text-decoration: underline;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #5495ff;
  }
  
  .btn {
    color: #5495ff;
    border: 2px solid #5495ff;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
  }
  
  .btn:hover {
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #5495ff;
    font-size: 25px;
    text-transform: uppercase;
    transition: color .8s ease-in, background-color .8s ease-in;
  }
  
  .btn:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
  }
  
  .activity {
    text-decoration: none;
    cursor: pointer;
  }
  
  .activity:hover {
    cursor: pointer;
    font-size: 40px;
    transition: color .5s ease-in, background-color .5s ease-in ,font-size .1s ease-in;
  }
  
  .activity:active {
    font-size: 18px;
    transition: font-size .1s ease-in-out;
  }